.sign-up {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 50%;
    align-items: center;
    border-left: 1px solid rgba(0,0,0,0.3);
}

.sign-up form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%
}

.form-title {
    color: #f50057;
    text-align: center;
    cursor: default;
}

@media (max-width:768px) {
    .sign-up {
        border-left: none;
        padding-left: 0;
    }
}


