.sign-in {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.sign-in form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%
}

.sign-in h2 {
    text-align: center;
}


.buttons {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
    width:90%;
    max-width: 350px;
}



.google {
    width: 40px;
    height:40px;
    cursor:pointer;
}

.facebook {
    width: 40px;
    height:40px;
    cursor:pointer;
}

.buttons-left {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.password-reset-button {
    font-size: small;
    cursor: pointer;
    color: #4285F4;
    text-decoration: underline;
    margin-top: 5px;
}

@media (max-width:768px) {
    .sign-in {
        padding-right: 0;
    }
}